## gender-guesser==0.4.0
matplotlib
streamlit
plotly
numpy
streamlit-option-menu
imbalanced-learn
imblearn
sklearn
joblib
# numpy==1.18.5
pandas
yellowbrick
## xmltodict

## urllib3 is a powerful, user-friendly HTTP client for Python
# urllib3

seaborn

## Lottie is a library that parses Adobe After Effects animations ...
## streamlit-lottie
